.karta-na-drzwi__strona{position:relative;width:100%;margin:auto;overflow:hidden;background:#fff;color:#172033;box-shadow:0 2px 12px #0003;container-type:inline-size}.karta-na-drzwi__strona--pozioma{aspect-ratio:297/210}.karta-na-drzwi__strona--pionowa{aspect-ratio:210/297}
.karta-na-drzwi__dane{min-height:300px}
